- name: Deploy a web apllication
  hosts: db_and_web_server1,db_and_web_server2
  tasks:
    - name: Install all required dependencies
      apt: name={{ item }} state=present
      with_items:
        - python
        - python-setuptools
        - python-dev
        - build-essential
        - python-pip
        - python-mysqldb

    - name: Install MYSQL database
      apt: name={{ item }} state=present
      with_items:
        - mysql-server
        - mysql-client

    - name: Start MYSQL Service
      service:
        name: mysql
        state:  started
        enabled:  yes

    - name: Create Application Database
      mysql_db:
        login_user: root
        login_password: ''
        host_all: yes
        name: employee_db
        state: present

    - name: Create Database user
      mysql_user:
        name: db_user
        password: w
        priv: '*.*:ALL'
        state: present
        host: '%'

    - name: Install Python Flask Dependency
      pip:
        name: "{{ item }}"
        state: present
      with_items:
        - flask
        - flask-mysql

    - name: Copy source code
      copy: src=app.py dest=/opt/app.py

    - name: Start Web server
      shell:  FLASK_APP=/opt/app.py nohup flask run --host=0.0.0.0 &





